<p id="notice"><%= notice %></p>

<h2><%= @demo.handle %></h2>
<h2><%= @demo.fb_id %></h2>
<h2><%= @demo.message %></h2>
<h2><%= @demo.picture %></h2>
<h2><%= @demo.link %></h2>
<h2><%= @demo.created_at %></h2>
<h2><%= @demo.updated %></h2>
<h2><%= @demo.shares %></h2>
<h2><%= @demo.likes %></h2>

<%= link_to 'Edit', edit_demo_path(@demo) %> |
<%= link_to 'Back', demos_path %>

